:root {
    --red: #FF3A3A;
    --yellow: #FFCD4E;
    --purplegrad: radial-gradient(122% 93.75% at 18.75% 6.25%, #4E5CDA 0%, #6E42B7 100%);
    --purple: #5C0790;
    --lightgrad: radial-gradient(171.8% 132.02% at 50% -32.02%, #B3F1FF 0%, #D8FFEA 100%);
    --black: #000000;
    --grey1: #525252;
    --grey2: #858585;
    --grey3: #ADADAD;
    --grey4: #C9C9C9;
    --grey5: #F4F4F4;
    --grey6: #FBFBFB;
    --white: #FFFFFF;
    --purple50: rgba(92, 7, 144, 0.5);
}

* {
	box-sizing: border-box;
}

header {
    display: flex;
}

body {
	font-family: 'Roboto', 'Verdana', sans-serif;
	font-weight: 400;
	font-style: normal;	
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wrapper {
	width: 1280px;	
	margin: 0 auto;	
}

.menu {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase; 
    list-style-type: none;
    color: var(--grey1);
    margin: 0;
    align-items: center;
    padding-left: 80px;
}

.menu li{
    padding-right: 12px;
}

.menu a{
    color: var(--grey1);
}

.menu a:hover{
    color: var(--purple);
}

.menu a:active{
    color: var(--purple50);
}

.basket {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--grey1);    
    margin-left: 22px;   
}

.basket svg {
    fill: var(--grey1);
}

.basket:hover {
    color: var(--purple);
}

.basket:hover svg {
    fill: var(--purple);
}

.phone {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--grey1);
    margin-left: auto;
    
}


.phone:hover{
    color: var(--purple);
}

.phone:active{
    color: var(--purple50);
}

.navigation {
    display: flex;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

.navigation a {
    color: var(--grey1);
}

.navigation li {
    margin-right: 50px;
}

.slide-header {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: var(--white);
}


.slide-body {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: var(--white);
}

.more {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white);
}

.section-header {
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    color: var(--grey3);  
}

.cards {
    display: flex;
}

.product-card p {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--grey1);
    margin: 16px 0 10px;
}

.product-card .old-price {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: var(--grey1);
    text-decoration: line-through; 
    margin: 0;
}

.product-card .new-price {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: var(--black);
    margin: 0px;
}

.add {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--grey1);
    background: var(--white); 
    border-radius: 12px;
    border: 2px solid var(--yellow);  
}

.add:hover {
    background: var(--yellow);
}

.review {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: var(--grey2);
}

.address-header {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: var(--grey1);
}

.address {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: var(--grey1);
}

.info {
    display: flex;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: var(--grey3);
}

.goodstype {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    list-style-type: none;
}

.goodstype a {
    color: var(--grey1);
}

.product-card {
    padding: 15px 15px 20px;
    background: var(--lightgrad);
    border-radius: 16px;
    width: 25%;
}

.product-card img{
/*  */
}

.reviews{
    display: flex;
}

.reviews article {
    display: flex;
}

footer {
    /* display: flex; */
}

.logos {
    display: flex;
    margin-left: auto;
}

.slider {
    background-color: var(--yellow);
    display: flex;
}

.undermapinfo {
    display: flex;
}

.logoblock {
    display: flex;
}



