


.box {
	width: 200px;
	height: 200px;
	background-color: red;
	font-size: 50px;
	color: #ffffff;
}

.box-green {
	background: #000;
}

.box-rotate {
	transform: rotate(45deg);
}

.box-translate {
	/* transform: translate(50px, 80px); */
	/* transform: translateX(50px); */
	/* transform: translateY(50px); */
	transform: translateY(50px) rotate(45deg);
}


.box-scale {
	margin: 100px;
	/* transform: scale(2, 1.5); */
/* 	transform: scaleX(2);
	transform: scaleY(1.2); */
}

.box-scale:hover {
	transform: scale(1.1, 1.1);
}




.box-skew {
	/* transform: skewX(10deg); */
	/* transform: skewY(10deg); */
	/* transform: skew(30deg, 20deg); */
} 



/* .box-rotate2 {
	margin: 200px;
	transform: rotate(45deg);
	transform-origin: 50% 50%;
} */




/* .link {
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	background-color: red;
	font-size: 70px;
	color: #ffffff;
	transition-delay: 2s;
	transition-duration: 2.5s;
	transition-property: background-color, color;
	transition-timing-function: ease;
}

.link:hover {
	color: #000000;
	background-color: green;
}

 */


/* .box-rotate3 {
	transition-duration: 2s;
	transition-property: transform;
}

.box-rotate3:hover {
	transform: rotate(360deg) scale(1.2, 1.2);
} */


/* .modal {
	width: 300px;
	height: 300px;
	background-color: red;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.modal-600 {
	width: 600px;
} */











/* .slide {
	position: relative;
	height: 600px;
	background-color: yellow;
}

.arrow {
	width: 30px;
	height: 30px;
	background-color: red;
	position: absolute;	
	top: 50%;
	transform: translateY(-50%);
	background-image: url('../img/arrow.svg');
	background-repeat: no-repeat;
	background-position: center center;
	border: none;
}

.arrow-left {
	left: 22px;
	transform: translateY(-50%) rotate(180deg);
}

.arrow-right {
	right: 22px;
}
 */








