 *{
	margin: 0;
	box-sizing: border-box;
}/*
.wrapper {
	width: 961px;
	padding: 0 15px;
	margin: 0 auto;
	background-color: yellow;
}

.header {
	display: flex;
}

.tel {
	margin-left: auto;
}

.cart {
	margin-left: 50px;
}

.menu-button {
	display: none;
}

.box {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.item {
	width: 25%;
	padding: 0 15px 30px;
}

.car {
	background-color: red;
	height: 200px;
}


@media (max-width: 991px) {
	.wrapper {
		width: 700px;
	}
	.item {
		width: 33.333%;		
	}
	.car {
		background-color: green;
	}	
}


@media (max-width: 767px) {

	.wrapper {
		width: 400px;
	}

	.menu {
		display: none
	}
	.cart-text {
		display: none
	}
	.item {
		width: 50%;
	}
	.item-5 {
		display: none;
	}
	.menu-button {
		display: block;
	}
}


@media (max-width:480px) {

	.wrapper {
		width: 300px;
	}

	.item {
		width: 100%;
	}
}
 */





























/* .wrapper {
	min-width: 375px;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.box4 {

}

.child {

}

.ca {
	background-color: red;
	height: 200px;
	margin-bottom: 20px;
}


@media (min-width: 768px) {
	.box4 {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}
	.child  {
		width: 50%;
		padding: 0 15px;
	}	
}


@media (min-width: 992px) {
	.child  {
		width: 25%;
	}	
}


 */


/* .bb {
	width: 200px;
	height: 200px;
	background-color: green;
}

@media (max-width: 992px) and (min-width: 767px) {
	.bb {
		background-color: red;
	}

	@media (orientation: landscape) {

		.bb {
			font-size: 100px
		}		
		
	}

	@media (orientation: portrait) {
		.bb {
			font-size: 300px
		}		
	}

} */














/*DF*/

/* @media (max-width: 1199px) {  }

@media (max-width: 991px) {  }

@media (max-width: 767px) {  }

@media (max-width: 480px) {  }
 */



/*  MF */
/* @media (min-width: 481px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { } */



.link span {

}




.wrapper {
	width: 1280px;
	margin: 0 auto;
}

@media (max-width: 1280px) {
	.wrapper {
		width: 375px;
	}
}



.text:focus {
	outline: none;
}

.link.active,
.link:hover {

}













