* {
	box-sizing: border-box;
	margin: 0;
}
*::after,
*::before {
	box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.wrapper {
	width: 1280px;
	margin: 0 auto;

	/* background-color: red; */
	/* font-size: 50px; */
}

.tree {
	background-color: green;
}


.cart {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.cart-text {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #525252;
	margin-right: 10px;
}

.cart-value {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #FF3A3A;
	border-radius: 64px;
	padding: 2px 4px;
    text-align: center;
    margin-left: 4px;
}




/* .main-menu {
	list-style: none;
	padding: 0;
	display: flex;
}

.main-menu > li {
	margin-right: 50px;
	position: relative;
}

.main-menu > li > a {
	color: red;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	background-image: url('../img/nav-arrow.svg');
	background-repeat: no-repeat;
	background-position: right center;
	padding: 10px 24px 10px 0;
}

.main-menu > li:hover > a {
	color: green;
	background-image: url('../img/nav-arrow-top.svg');
}

.main-menu li:hover ul {
	display: block;
}



.main-menu ul {
	display: none;
	position: absolute;
	left: 0;
	top: 30px;
	background-color: red;
	list-style: none;
	padding: 16px 16px 8px;
}

.main-menu ul li {
	padding-bottom: 8px;
}

.main-menu ul a {
	color: green;
}

.main-menu ul a:hover {
	text-decoration: none;
} */



















.main-menu2 {
	list-style: none;
	padding: 0;
	display: flex;
}

.main-menu2 > li {
	margin-right: 50px;
	position: relative;
}

.main-menu2 > li > a {
	color: red;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 24px 10px 0;
	position: relative;
}

.main-menu2 > li > a::after {
	content: '';
	background-image: url('../img/nav-arrow.svg');
	width: 13px;
	height: 7px;
	position: absolute;
	right: 0;
	top: 19px;
}

.main-menu2 > li:hover > a {
	color: green;
}

.main-menu2 > li:hover > a::after {
	transform: rotate(180deg);
}

.main-menu2 li:hover ul {
	display: block;
}

.main-menu2 ul {
	display: none;
	position: absolute;
	left: 0;
	top: 30px;
	background-color: red;
	list-style: none;
	padding: 16px 16px 8px;
}

.main-menu2 ul li {
	padding-bottom: 8px;
}

.main-menu2 ul a {
	color: green;
}

.main-menu2 ul a:hover {
	text-decoration: none;
}









.label {
	position: relative;
	display: flex;
	margin-bottom: 20px;
}

.input-radio {

}


.input-text {
    position: relative;
    font-size: 24px;
    padding-left: 47px;
    height: 36px;
    display: flex;
    align-items: center;
}

.input-text::after {
	content: '';
	border: 2px solid #525252;
	width: 32px;
	height: 32px;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;
}

.input-text::before {
	display: none;
	content: '';
	position: absolute;
	background: #5C0790;
	width: 14px;
	height: 14px;
	position: absolute;
	left: 11px;
	top: 11px;
	border-radius: 50%;
}

.input-radio:checked + .input-text::before {
	display: block;
}











.map iframe {
	border: 0;
}