body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.div {
	font-family: Verdana,sans-serif;
}

.textarea {
	font-family: inherit;
	width: 50%;
}

.btn{
	cursor: pointer;
	background-color: red;
	border: 0;
	color: white;
}

.btn:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}





































/* .box {
	height: 200px;
	background-color: red;
}

.child {
	height: inherit;
	background-color: green;
} */