* {

}

p {

}

.name {

}

#id {

}

.box .child a {
	font-size: 10px;
}

.btn {
	font-size: 10px;
}

.btn-yellow {
	background-color: yellow;
}

.btn.btn-yellow {
	border: 10px solid green;
}

button.btn {
	font-size: 10px;
}


.name a,
.box10.box30,
.box55,
p {
	font-size: 40px;
}

.box55{

}


















/* 
.menu > li {
	border-bottom: 5px solid #000;
} */

/* .menu ul li {
	border-bottom: none;
}
 */

/* .menu div {
	
}


.menu > div {
	border: 1px solid red;
}
 */













/* 

.cart:hover .div {
	color: red;
}

.cart:hover .span {
	color: green;
}
 */




/* .box1 {

}

.box2 {

}

.box1 + .box2 {
	color: green;
}

.box1:hover,
.box1:hover + .box2{
	text-decoration: underline;
}
 */

/* .box11 ~ .box22 {
	font-size: 24px;
	color: red;
} */


/* 
input[type="text"] {
	border: 1px solid red;
}

.text[type="email"] {
	border: 1px solid green;
}
 */


/* .lorem {

}

.lorem::first-line {
	font-size: 24px;
	color: red;
}

.lorem::first-letter {
	font-size: 40px;
	color: green;
}
 */






/* .box500 {

}

.box500::before {
	content: "";
	width: 30px;
	height: 30px;
	background-color: red;
	display: inline-block;
}

.box500::after {
	content: "";
	width: 30px;
	height: 30px;
	background-color: green;
	display: inline-block;
}

 */

.title {
	font-size: 24px;
	color: green;
	position: relative;
	text-align: center;
}

.title::after {
	content: "";
	width: 100px;
	height: 2px;
	background-color: green;
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -50px;
}


.comment-info {
	background-color: green;
	position: relative;
}

.comment-info h3 {
	font-size: 24px;
}

.comment-info p {}

.comment-info::after {
	content: "";
	position: absolute;
	border-right: 10px solid transparent;
	border-left: 10px solid green;
	border-top: 10px solid green;
	border-bottom: 10px solid transparent;
	left: 30px;
	bottom: -20px;
}



/* .box-border {
	width: 0;
	border-top: 100px solid transparent;
	border-right: 100px solid green;
	border-bottom: 100px solid transparent;
}
 */
.box-border {
	width: 0;
	border-right: 100px solid transparent;
	border-left: 100px solid green;
	border-top: 100px solid green;
	border-bottom: 100px solid transparent;
}





a:hover,
a.active {
	border-color: red;
}