:root{
	--blue: #4cb1ca;
	--bluelight: #bef2ff;
	--gray: #656565;
	--white: #ffffff;
	--green: #7db122;
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.wrapper {
	width: 1024px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {

}

.header-top {
	background-color: var(--blue);
/* 	display: flex;
	justify-content: space-between; */
	padding: 10px 0 11px;
}

.header-wrap {
	display: flex;
	justify-content: space-between;
}

.header-info {
	display: flex;
}

.header-info p {
	font-size: 13px;
	color: var(--white);
	padding-right: 33px;
}

.header-info span {
	color: var(--bluelight);
}

.second-menu {
	display: flex;
	list-style: none;
	padding: 0;
}

.second-menu li {
	padding-left: 30px;
}

.second-menu a {
	color: var(--white);
	font-size: 13px;
	text-decoration: none;
}

.second-menu a:hover {
	text-decoration: underline;
}

.header-main {
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.main-menu ul {
	display: flex;
	list-style: none;
	padding-left: 60px;
}

.main-menu li {
	padding-right: 20px;
}

.main-menu a {
	color: var(--gray);
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
}

.main-menu a:hover {
	color: var(--blue);
}

.cart {
	color: var(--gray);
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;	
	margin-left: auto;
	display: flex;
	align-items: center;
}

.cart svg {
	fill: var(--gray);
}

.cart span {
	padding-left: 13px;
}

.cart:hover {
	color: var(--blue);
}

.cart:hover svg {
	fill: var(--blue);
}







