/* :root {
	--red: #FF3A3A;
	--yellow: #FFCD4E;
	--purple: #5C0790; 
	--purple-opacity-50: rgba(92, 7, 144, 0.5);
}

.title {
	color: var(--red);
}
.bg{
	background-color: var(--red);
}

a:hover {
	color: var(--purple);
}
a:active {
	color: var(--purple-opacity-50);
} */


.box {
/* 	display: flex;
	height: 800px;
	background-color: yellow; */
	/* flex-direction: row; */
	/* flex-direction: row-reverse; */
/* 	flex-direction: column; */
	/* flex-direction: column-reverse; */

	/* justify-content: flex-start; */
	/* justify-content: flex-end; */
	/* justify-content: space-between; */
	/* justify-content: space-around; */
	/* justify-content: space-evenly; */
	/* justify-content: center; */

	/* align-items: stretch; */
	/* align-items: flex-start; */
	/* align-items: flex-end; */
/* 	align-items: center; */

	/* flex-wrap: nowrap; */
/* 	flex-wrap: wrap; */
	/* flex-wrap: wrap-reverse; */

	/* 	flex-flow: column wrap; */
}

/* .item {
	font-size: 36px;
	color: #ffffff;
	width: 200px;
	height: 200px;
	background-color: red;
	border: 5px solid black;
	box-sizing: border-box;
}

.item-02 {
	align-self: stretch;
	height: auto;
} */

/*---------------------*/

/* .box2 {
	display: flex;
}

.item2 {
	font-size: 36px;
	color: #ffffff;
	flex-basis: 200px;
	width: 200px;
	height: 200px;
	background-color: red;
	border: 5px solid black;
	box-sizing: border-box;
}
 */
/* .item22 {
	order: 1;
}

.item44 {
	order: 2;
} */




/* 
.parent {
	background-color: yellow;
	width: 500px;
	display: flex;
}

.elem {
	width: 100px;
	height: 100px;
	background-color: red;
	flex-grow: 0;
}

.elem2 {
	flex-grow: 1;
}
.elem3 {
	flex-grow: 2;
}

 */

.parent2 {
	width: 300px;
	background-color: yellow;
	display: flex;
}

.child {
	width: 100px;
	height: 100px;
	background-color: red;
}

.child3 {
/* 	flex-shrink: 0; */
}









