.arrow {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    border: transparent;
    background-color: rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    background-position: center center;
    transition-property: background-color;

    &:hover {
        background-color: rgba(255, 255, 255, 1);
        transition-duration: 1s;
    }
}

.arrow-left-slider {
    left: 22px;
    top:  50%;
    transform: translateY(-50%);
    background-image: url(../img/left-arrow.svg);
}

.arrow-right-slider {
    right: 22px;
    top:  50%;
    transform: translateY(-50%);
    background-image: url(../img/right-arrow.svg);

}

.arrow-left-reviews {
    left: 22px;
    background-image: url(../img/left-arrow.svg);
}

.arrow-right-reviews {
    right: 22px;
    background-image: url(../img/right-arrow.svg);

}



@media (max-width: 375px){
    .arrow-left-slider{
        left: 0;
    }

    .arrow-right-slider {
        right: 0;
    }

    .arrow-left-reviews{
        left: 0;
        bottom: 30px;
    }

    .arrow-right-reviews {
        right: 0;       
        bottom: 30px;
    }
}