.inputs {
    display: flex;
    width: 59%;
    flex-wrap: wrap;
    justify-content: space-between;

    &__div {
        display: flex;
        flex-direction: column;
        width: 47.6%;
    }

    &__input,
    &__textarea {
        padding: 16px 10px 16px 16px;
        background: $grey5;
        border-radius: 12px;
        border: 2px solid transparent;
        font-family: inherit;
    }

    &__input:hover,
    &__textarea:hover {
        border-color: rgba(0, 0, 0, 0.2);
        transition-duration: 1s;
    }

    &__input:focus,
    &__textarea:focus {
        background-color: $white;
        border-color: rgba(0, 0, 0, 0.2);
        transition-duration: 1s;
        outline: none;
    }

    &__input {
        width: 100%;
        margin-bottom: 10px;
    }

    &__span {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $grey1;
        padding-bottom: 24px;
    }

    &__textarea {
        width: 100%;
    }

}

@media (max-width: 375px){
    .inputs {
        width: 100%;
        display: block;

        &__div {
            width: 100%;
        }
    }


}