.logoblock {
    display: flex;
    align-items: center;
    padding: 23px 0;
    border-top: 1px solid $grey5;
}

.logos {
    display: flex;
    margin-left: auto;

    &__li {
        margin-left: 32px;
    }

    &__icon:hover .ico-fb {
        fill: $facebookblue;
        transition-duration: 1s;
    }

    &__icon:hover .ico-tg {
        fill: $telegramblue;
        transition-duration: 1s;
    }

    &__icon:hover .ico-insta {
        fill: $instared;
        transition-duration: 1s;
    }

}

@media (min-width: 375px){
    .logoblock {
        flex-direction: column;
    }
}