.paginator {
    display: flex;
    padding: 18px 0 96px;

    &__link,
    &__text {
        margin: 0 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $grey1;
        background: $white;
        border: 1px solid #dfe3e8;
        border-radius: 4px;
    }

    &__link:hover,
    &__text:hover {
        border-color: #5c0791;
        transition-duration: 1s;
    }

    &__link_active {
        border-color: #5c0791;
    }

    &__arrow-left {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        padding: 0;
        border: transparent;
        background-color: rgba(255, 255, 255, 0.5);
        background-image: url(../img/left-arrow.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__arrow-right {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        padding: 0;
        border: transparent;
        background-color: rgba(255, 255, 255, 0.5);
        background-image: url(../img/right-arrow.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__arrow-left:hover,
    &__arrow-right:hover {
        background-color: rgba(201, 201, 201, 0.5);
        transition-duration: 1s;
    }
}

@media (max-width: 375px) {
    .paginator {
        justify-content: center;
    }
}