.section-header {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: $grey3;
    padding-top: 50px;
    margin: 0;
}

.section-header-catalog {
    font-weight: 599;
    font-size: 32px;
    line-height: 37px;
    color: $grey3;
    padding-top: 38px;
    margin: 0;
}

@media (max-width: 375px){
    .section-header-catalog{
        text-align: center;
        font-size: 22px;
        line-height: 26px;
        padding-bottom: 28px;
    }
    
}