.sliders {
    position: relative;

    &__buttons-div {
        display: flex;
        position: absolute;
        bottom: 25px;
        right: 50%;
        justify-content: space-between;
        width: 33px;
        transform: translateX(50%);
    }

    &__button {
        border: 2px solid $white;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        padding: 0;
        background: transparent;
    }

    &__button_activebutton {
        background: $white;
    }



}

.slider {
    background-color: $yellow;
    display: flex;
    padding: 41px 22px 33px 24px;
    border-radius: 16px;

    &__info {
        margin-left: 87px;
        width: 36%;
    }

    &__header {
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        color: $white;
        margin: 0;
        padding-top: 30px;
    }

    &__body {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: $white;
        margin: 0;
        padding: 12px 0 30px;
    }

    &__img {
        margin-left: 299px;
    }

    &__more-button {
        display: inline-block;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $white;
        background: $red;
        padding: 16px 30px;
        border-radius: 12px;
    }

    &__more-button:hover {
        opacity: 0.7;
        transition-duration: 1s;
    }

    &__more-button:active {
        opacity: 0.3;
        transition-duration: 1s;
    }

}

@media (max-width: 375px) {

    .slider {
        display: flex;
        flex-direction: column;
        padding: 26px 33px 65px 34px;
        margin: 0 -16px;
        border-radius: 0;

        &__header {
            font-size: 32px;
            line-height: 37px;
        }


        &__info {
            width: 100%;
            margin: 0;
            text-align: center;
        }

        &__img {
            display: flex;
            justify-content: center;
            margin: 0;
            order: -1;
        }

    }
}