.undermap-info {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 36px;

    &__address {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: $grey1;
        margin: 0;
    }

    &__address-header {
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: $grey1;
        margin: 0;
        padding-right: 20px;
        padding-left: 8px;
    }

}

@media (max-width: 375px) {
.undermap-info{
    align-items: unset;
    .undermap-info__address-header {
        display: block;
    }

}

    
}