$red: #ff3a3a;
$yellow: #ffcd4e;
$purplegrad: radial-gradient(122% 93.75% at 18.75% 6.25%,
    #4e5cda 0%,
    #6e42b7 100%);
$purple: #5c0790;
$lightgrad: radial-gradient(171.8% 132.02% at 50% -32.02%,
    #b3f1ff 0%,
    #d8ffea 100%);
$black: #000000;
$grey1: #525252;
$grey2: #858585;
$grey3: #adadad;
$grey4: #c9c9c9;
$grey5: #f4f4f4;
$grey6: #fbfbfb;
$white: #ffffff;
$purple50: rgba(92, 7, 144, 0.5);
$instared: #ff0100;
$facebookblue: #1877f2;
$telegramblue: #37aee2;