.wrapper {
    width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}

.form-wrapper {
    width: 1060px;
    margin: 0 auto;
}

.product-card-wrap {
    width: 25%;
    padding: 0 15px;
}

.product-card-wrap-catalog {
    padding: 0 15px 24px;
    width: 33.333%;
}

@media (max-width: 375px) {
    .wrapper {
        width: 375px;
        margin: 0 auto;
        padding: 0 16px;

    }

    .form-wrapper {
        width: 343px;
    }

    .product-card-wrap {
        width: 100%;
        padding: 0 22.5px 20px;
    }

    .product-card-wrap-catalog {
        padding: 0 22.5px 20px;
        width: 100%;
    }
}